*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: #222;
    line-height: 1.5;
    height: 100%;
    background-color: #222;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*navbar*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    width: 100%;
    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.1);
    position: fixed;
    z-index: 1;
}
.navbar2{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 7px 130px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.links{
    display: flex;
    padding: 0;
    margin: 0;
}
.links li a{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.links li a:hover{
    border-bottom: 3px solid #5F9EA0;
    color: #5F9ea0;
}
.toggle{
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.logo{
    font-family: 'Bangers';
    font-size: 35px;
    padding: 5px;
    text-align: center;
    color: #5f9ea0;
}
/*cart*/
.cart h4{
    padding-top: 10vh;
}
#last p, td{
    font-size: 24px;
    font-weight: bold;
}
.totalprice{
    font-weight: bold;
    font-size: 24px;
    background-color: #5F9EA0;
}
/*footer*/
.footer{
    color:#fff;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px 110px;
    border-top: 3px solid #5f9ea0;
}
.footer a{
    color:#5F9EA0;
}
.footer .social-links a{
    margin: 0 10px;
}
.footer .social-links a li{
    color: #5F9EA0;
}
.blogo{
    grid-column-start:1;
    grid-column-end:2;
    margin-left: 10px;
    text-align: center;
    font-family: 'Bangers';
}
.bnav{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10px;
}
.bnav ul li{border-bottom: #5F9EA0 solid 2px; padding: 5px 0;}
.bnav ul li a{color: #fff;}
.social-links{
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 10px;
}
.contactus{
    grid-column-start: 4;
    grid-column-end: 5;
    padding-left: 15px;
    padding-bottom: 5px;
    color:#fff;
}
.contactus h3, .social-links h3{
    color: #fff;
    font-family: none;
    text-align: left;
    font-size: 28px;
}

/*cart*/
.cart{
    background-color: #222;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 25px 50px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cart h4{
    font-family: 'Bangers';
    font-size: 60px;
    grid-column-start: 1;
    grid-column-end:4;
}
table{
    padding: 10px 10px;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
thead{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0 10px;
    border-bottom: 2px solid slategray;
}
th, td{
    padding: 5px;
    border-bottom: slategray 2px solid;
}
td{
    font-size: 16px;
}
table td h6{
    font-size: 25px;
}
.products{
    color: #fff;
    font-size: 24px ;
}
#pprice{
    color: #fff;
}
/*edit button*/
#edit{
    text-align: center;
    padding-bottom: 15px;
}
#editbtn{
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.9); 
    margin-top: 25px;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
}
#editbtn:hover{
    background-color: #222;
    color: #fff;
    border: #fff 2px solid;
}
/*checkout*/
.out{
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-bottom: 200px;
}
.checkout{
    background-color: slategray;
    color: #fff;
    opacity: 80%;
    border-radius: 5px;
    width: 450px;
    height: 170px;
    padding: 5px;
    align-items: center;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 90px;
}
input[type='text']{
    width: 15%;
    font-size: 16px;
    text-align: right;
}
.checkout ul li{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 5px;
}
.checkout ul li span{
    padding: 2px 10px;
    font-size: 20px;
    font-weight: bold;
}
#checkbtn{
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.9); 
    margin-top: 25px;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
}
#checkbtn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

/*sign in form*/
#loginbtn{
    background-color: #fff;
    padding: 10px 15px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0, 0.9); 
    margin-top: 25px;
    text-decoration: none;
    transition: 0.3s;
}
#loginbtn:hover{
    background-color: #000;
    color: #fff;
}
.popup{
    background: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.signinform{
  height: 250px;
  width: 400px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  position: relative;
}
.signin{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid #000;
}
#sihead{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    font-family: 'Bangers';
 }
.popup i{
    position: absolute;
    top: -15px;
    right: -15px;
    color: #fff;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/*responsive mobile*/
@media (max-width: 600px){
    
    .logo{
        grid-column-start: 1;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end: 2;
    }
    

    /*nav*/
    .header{
        max-width: 600px !important;
        padding:60px 5px !important;
        width: 100% !important;
    }
    .toggle{
        display: flex;
        color: #fff;
    }
    .nav2{
        display: none;
        max-width: 600px;
        backdrop-filter: blur(25px);
        background: rgb(255, 255, 255);
    }
    .header .navbar2{
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }
    .logo{
        padding: 0px;
        text-align: center;
    }
    .nav2 ul{
        flex-direction: column;
    }
    .nav2.active{
        display: flex;
    }
    .links li a{color: #000;}
    /*cart*/
    .cart{
        background-color: #222;
        color: #fff;
        align-items: center;
        text-align: center;
        padding: 25px 0px;
        height: auto;
        display: grid;
        grid-template-columns:1fr;
    }
    .cart h4{
        font-family: 'Bangers';
        font-size: 40px;
        grid-column-start: 1;
        grid-column-end:2;
        width: 100%;
        padding-top: 25vh;
    }
    .cart table tbody tr td .number{
        font-size: 11px;
    }
    table{
        padding: 10px 10px;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 10%;
    }
    thead{
        color: #fff;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        text-transform: capitalize;
        padding: 0 10px;
        border-bottom: 2px solid slategray;
    }
    th, td{
        padding: 5px;
        border-bottom: slategray 2px solid;
        width: 100%;
    }
    td{
        font-size: 14px;
    }
    table td h6{
        font-size: 20px;
    }
    .products{
        color: #fff;
        font-size: 24px ;
    }
    /*checkout*/
    .out{
        background-color: #222;
        display: grid;
        grid-template-columns: 1fr;
    }
    .checkout{
        background-color: slategray;
        color: #fff;
        opacity: 80%;
        border-radius: 5px;
        width: 450px;
        height: 170px;
        padding: 5px;
        align-items: center;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 75%;
    }
    /*footer*/
    .footer{
        color:#fff;
        background-color:#222;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        gap: 5px;
    }
    .blogo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:1;
        grid-row-end:2;
        margin-left: 10px;
        text-align: center;
    }
    .bnav{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
    }
    .social-links{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 5px;
    }
    .social-links p{
        font-size: 16px;
    }
    .contactus{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/*responsive tablet*/
@media (min-width: 768px) and (max-width: 1366px){
    /*nav*/
   .menu{
       display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr;
       width: 100%;
   }
   .logo{
       grid-row-start: 1;
       grid-row-end: 2;
       grid-column-start: 1;
       grid-column-end: 2;
       font-size: 30px;
   }
   .navbar{
       grid-row-start: 1;
       grid-row-end: 2;
       grid-column-start: 2;
       grid-column-end: 3;
   }
    .navbar a{
        font-size: 20px;
    }
}