*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color: #222;
    line-height: 1.5;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*nav*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
    width: 100%;
    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.1);
    position: fixed;
    z-index: 1;
}
.navbar2{
    display:flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    padding: 7px 130px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.links{
    display: flex;
    padding: 0;
    margin: 0;
}
.links li a{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
}
.links li a:hover{
    border-bottom: 3px solid #5F9EA0;
    color: #5F9ea0;
}
.toggle{
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.logo{
    font-family: 'Bangers';
    font-size: 35px;
    padding: 5px;
    text-align: center;
    color: #5f9ea0;
}
/*footer*/
.footer{
    color:#fff;
    background-color: #222;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 10px 110px;
    border-top: 3px solid #5f9ea0;
}
.footer a{
    color:#5F9EA0;
}
.footer .social-links a{
    margin: 0 10px;
}
.footer .social-links a li{
    color: #5F9EA0;
}
.blogo{
    grid-column-start:1;
    grid-column-end:2;
    margin-left: 10px;
    text-align: center;
    font-family: 'Bangers';
}
.bnav{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10px;
}
.bnav ul li{border-bottom: #5F9EA0 solid 2px; padding: 5px 0;}
.bnav ul li a{color: #fff;}
.social-links{
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 10px;
}
.contactus h3, .social-links h3{
    color: #fff;
    font-family: none;
    text-align: left;
    font-size: 28px;
    padding-top: 1px;
    padding-bottom: 2px;
}
/*create merch*/
h3{
    font-family: 'Bangers';
    font-size: 50px;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 20px;
}
.merchcreate .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1/2fr;
    gap: 5px;
    background-color: #222;
}
.fileup{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    padding-right: 10px;
}
#inpFile{
    padding: 10px;
}
.image-preview{
    width: 225px;
    min-height: 250px;
    border: 2px solid #ddd;
    margin-top: 35px;
    /*default text*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ccc;
    position: absolute;
    top: 310px;
    left: 570px;
}
.image-preview_image{
    display: none;
    width: 100%;
}
.field{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    padding: 10px;
    font-size: 35px;
}
.form-control{
    color: #fff;
    line-height: 55px;
}
.shirtdesc{
    color: #fff;
    background: #222;
    font-size: 24px;
    padding: 5px;
    border:solid 2px #5F9EA0;
    margin-top: 10px;
    width: 300px;
}
/*total and quantity*/
.total{
    line-height: 55px;
}
.quantity{
    justify-content: center;
}
.quantity button{
    width: 45px;
    height: 45px;
    border: 2px solid #5F9EA0;
    color: #fff;
    background-color: #222;
}
.quantity label, .total label{
    color: #fff;
}
#quantity{
    border: solid 2px #5F9EA0;
    color: #fff; 
    background-color: #222; 
    font-size: 20px; 
    padding: 5px;
    width: 10%;
}
#price, #tax{
    color: #fff;
    border-bottom: 2px solid #5F9EA0;
    padding: 10px 10px;
    font-weight: bolder;
}
.total i{
    color: #fff;
    font-size: 25px;
}
/*buttons*/
.buttons{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    padding: 10px 10px 40px 10px;    
}
.btn{
    background-color: #fff;
    padding: 10px 15px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.9);
    margin-top: 25px;
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
    background-color: #222;
    border: 2px solid #fff;
    color: #fff;
}
/*note*/
.note{
    background-color: slategray;
    color: #000;
    font-family: 'Bangers';
    text-align: center;
    padding-bottom: 10px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    height: 100%;
}
/*example merch*/
.shop{
    background-color: #222;
    background-size: cover;
    padding: 20px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    gap: 5px;
}
.shophead{
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-family: 'Bangers';
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
}
.item1, .item2, .item3{
    padding-bottom: 20px;
    text-align: center;
}
.note h5{
    font-size: 35px;
}
.note i{
    padding: 0 10px;
}
.shop img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#buy{
    background-color: #5F9EA0;
    color: #222;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: 'Bangers';
}
/*sign in form*/
#loginbtn{
    background-color: #fff;
    padding: 10px 15px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0, 0.9); 
    margin-top: 25px;
    text-decoration: none;
    transition: 0.3s;
}
#loginbtn:hover{
    background-color: #000;
    color: #fff;
}
.popup{
    background: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.signinform{
  height: 250px;
  width: 400px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  position: relative;
}
.signin{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid #000;
}
#sihead{
    font-size: 25px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
}
.popup i{
    position: absolute;
    top: -15px;
    right: -15px;
    color: #fff;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

/*responsive mobile*/
@media (max-width: 600px){
    
    /*nav*/
    .header{
        max-width: 600px !important;
        padding:60px 5px !important;
        width: 100% !important;
    }
    .toggle{
        display: flex;
        color: #fff;
    }
    .nav2{
        display: none;
        max-width: 600px;
        backdrop-filter: blur(25px);
        background: rgb(255, 255, 255);
    }
    .header .navbar2{
        flex-direction: column;
        max-width: 600px;
        width: 100%;
    }
    .logo{
        padding: 0px;
        text-align: center;
    }
    .nav2 ul{
        flex-direction: column;
    }
    .nav2.active{
        display: flex;
    }
    .links li a{color: #000;}
    /*image upload*/
    h3{
        padding-top: 25vh;
    }
    #inpFile{
        padding: 5px;
    }
    .merchcreate .form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1/2fr 1fr 1/2fr;
        background-color: #222;
    }
    .fileup{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:1;
        grid-row-end: 2;
        justify-self: center;
        padding-top: 5px;  
    }
    .image-preview{
        width:180px;
        min-height: 200px;
        border: 2px solid #ddd;
        margin-top: 15px;
        /*default text*/
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: #cccccc;
        top: 470px;
        left: 113px;
    }
    .btn{
        background-color: #fff;
        padding: 15px 18px;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        border-radius: 3px;
        box-shadow: 5px 5px 25px -5px rgba(0,0,0, 0.9); 
        margin-top: 12px;
        text-decoration: none;
        margin: 5px;
    }
    .field{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 4;
        color: #fff;
        padding: 10px;
        font-size: 35px;
    }
    .buttons{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 5px 20px;
        align-items: center;
        margin-left:auto;
        margin-right: auto;
        display: block;
     }

     .note{
        background-color: slategray;
        color: #000;
        font-family: 'Bangers';
        padding-bottom: 10px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        height: 100%;
        width: 100%;
    }
    .note h5{
        font-size: 12px;
        text-align: center;
    }
    /*example merch*/
    .shop{
        background-color: #222;
        background-size: cover;
        padding: 20px;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
        gap: 5px;
    }
    .shophead{
        font-size: 35px;
        text-align: center;
        color: #fff;
        font-family: 'Bangers';
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .note h5{
        font-size: 35px;
    }
    .note i{
        padding: 0 10px;
    }
    .shop img{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    /*footer*/
    .footer{
        color:#fff;
        background-color:#222;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        gap: 5px;
    }
    .blogo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:1;
        grid-row-end:2;
        margin-left: 10px;
        text-align: center;
    }
    .bnav{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 5px;
        text-align: left;
    }
    .social-links{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 5px;
    }
    .contactus{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
/*responsive tablet*/
@media (min-width: 768px) and (max-width: 1366px){
    /*nav*/
   .menu{
       display: grid;
       grid-template-rows: 1fr;
       grid-template-columns: 1fr 1fr;
       width: 100%;
   }
   .logo{
       grid-row-start: 1;
       grid-row-end: 2;
       grid-column-start: 1;
       grid-column-end: 2;
       font-size: 30px;
   }
   .navbar{
       grid-row-start: 1;
       grid-row-end: 2;
       grid-column-start: 2;
       grid-column-end: 3;
   }
    .navbar a{
        font-size: 20px;
    }
    .image-preview{
        top: 210px;
        left: 122px;
    }
}